.bimg {
    max-width: 1440px;
    margin: 0 auto;
    background-image: url(/img/bimg.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 522px;

    .bimg__issue {
        padding-top: 120px;
        margin-left: 120px;
        width: 491px;
    }

    .bimg__head {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.05px;
        text-transform: uppercase;
        color: #43806C;
    }

    .bimg__title {
        margin-top: 20px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 46px;
        color: #214E41;
    }

    .bimg__text {
        margin-top: 34px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.02px;
        color: #757575;
    }

    .bimg__learn {
        margin-top: 24px;
        margin-bottom: 10px;
        text-decoration: underline;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 0.02px;
        color: #214E41;
    }
}